streamlit
pandas
numpy
scikit-learn
pyarrow
torch
torchvision
torchaudio
google-generativeai # Google Gemini API
requests
beautifulsoup4
selenium
sentence-transformers
sqlalchemy
alembic # DB 마이그레이션 도구
pysqlite3-binary # 일부 환경에서 SQLite3 사용을 보장
pyyaml
python-dotenv
pydantic
pytest
flake8
tqdm # 긴 작업의 진행 상태를 표시하는 유틸리티
apache-airflow
pendulum